<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		 <!-- Required meta tags -->
	   <meta charset="utf-8"></meta>
	   <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	   <title>Add to the Ladies Denim</title>
	   <!-- Bootstrap CSS -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
	   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<a th:href="@{/inventory}">Back</a><br></br>
			<h2>Add items to the ladies Denim inventory</h2>
			
			<form action="#" th:action="@{/submitLadiesDenim}" th:object="${product}" method="post" enctype="multipart/form-data"
																								accept="image/jpeg,image/png,image/gif">
			  <div th:if="${#fields.hasAnyErrors()}">
				  <p th:each="err : ${#fields.allErrors()}" class="errorColorDescription" th:text="${err}">...</p>
			  </div>
			  <div class="form-row">
			    <div class="col-md-6 mb-3">
			      <label for="totalItems">Total Number of Items*</label>
			      <input type="number" class="form-control" id="totalItems" placeholder="Total Number of Items" th:required="required"
			      	oninvalid="this.setCustomValidity('Enter Total Number of Items')" onchange="this.setCustomValidity('')"
			      	th:field="*{totalItems}"></input>
			    </div>
			    <div class="col-md-6 mb-3">
			      <label for="pricePerUnit">Price Per Unit*</label>
			      <input type="number" class="form-control" id="pricePerUnit" placeholder="Price Per Unit" th:required="required"
			      	oninvalid="this.setCustomValidity('Enter Price Per Unit')" onchange="this.setCustomValidity('')"
			      	th:field="*{pricePerUnit}"></input>
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="col-md-4 mb-3">
			      <label for="includedYear">Included Year*</label>
			      <input type="number" class="form-control" id="includedYear" placeholder="Included Year" th:required="required"
			      	oninvalid="this.setCustomValidity('Enter Included Year')" onchange="this.setCustomValidity('')"
			      	th:field="*{includedYear}"></input>
			    </div>
			    <div class="form-group col-md-4">
			      <label for="productsColorCdtb.colorCd">Color*</label>
			      <select id="productsColorCdtb.colorCd" class="form-control" th:required="required"
			      	oninvalid="this.setCustomValidity('Select Color')" onchange="this.setCustomValidity('')"
			      	th:field="*{productsColorCdtb.colorCd}">
			        <option value="">-- Select --</option>
		          	<option th:each="color : ${productsColorList}" 
		                  th:value="${color.colorCd}" 
		                  th:text="${color.colorShortDesc}">Thymus Thymi</option>
		          </select>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="ladiesDenimSizeCd">Size*</label>
			      <select id="ladiesDenimSizeCd" class="form-control" th:required="required"
			      	oninvalid="this.setCustomValidity('Select Size')" onchange="this.setCustomValidity('')"
			      	th:field="*{ladiesDenimSizeCd}">
			        <option value="">-- Select --</option>
		          	<option th:each="size : ${ladiesDenimSizes}" 
		                  th:value="${size.ladiesDenimSizeCd}" 
		                  th:text="${size.denimSizeLongDesc}">Thymus Thymi</option>
		          </select>
			    </div>
			  </div>
			  <div class="form-row">
				  <div class="col-md-4 mb-3">
				 	<label for="files">Images</label>	 	
				    <input type="file" class="form-control" id="files" name="files" multiple="multiple" accept="image/jpeg,image/png,image/gif"/>
				  </div>
			  </div>
			  <div class="row" id="image_preview"></div>
			  <button class="btn btn-primary" type="submit">Add Item(s)</button>
			</form>
        </div>
		<div class="footer" th:include="fragments/footer :: site-footer"></div>		
	</body>
</html>