<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		 <!-- Required meta tags -->
	   <meta charset="utf-8"></meta>
	   <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
	   <title>Add to the Ladies Denim</title>
	   <!-- Bootstrap CSS -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
	   <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<a th:href="@{/inventory}">Back</a><br></br>
			<h2>Add items to the ladies Denim inventory</h2>
			
			<form action="#" th:action="@{/submitLadiesDenim}" th:object="${product}" method="post">
			  <div th:if="${#fields.hasAnyErrors()}">
				  <p th:each="err : ${#fields.allErrors()}" class="errorColorDescription" th:text="${err}">...</p>
			  </div>
			  <div class="form-row">
			    <div class="col-md-6 mb-3">
			      <label for="totalItems">Total Number of Items*</label>
			      <input type="number" class="form-control" id="totalItems" placeholder="Total Number of Items" th:required="required"
			      	oninvalid="this.setCustomValidity('Enter Total Number of Items')" onchange="this.setCustomValidity('')"
			      	th:field="*{totalItems}"></input>
			    </div>
			    <div class="col-md-6 mb-3">
			      <label for="pricePerUnit">Price Per Unit*</label>
			      <input type="number" class="form-control" id="pricePerUnit" placeholder="Price Per Unit" th:required="required"
			      	oninvalid="this.setCustomValidity('Enter Price Per Unit')" onchange="this.setCustomValidity('')"
			      	th:field="*{pricePerUnit}"></input>
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="col-md-4 mb-3">
			      <label for="includedYear">Included Year*</label>
			      <input type="number" class="form-control" id="includedYear" placeholder="Included Year" th:required="required"
			      	oninvalid="this.setCustomValidity('Enter Included Year')" onchange="this.setCustomValidity('')"
			      	th:field="*{includedYear}"></input>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationDefault04">Color*</label>
			      <input type="text" class="form-control" id="validationDefault04" placeholder="State" th:required="required"
			      th:field="*{includedYear}"></input>
			    </div>
			    <div class="col-md-4 mb-3">
			      <label for="validationDefault05">Images</label>
			      <input type="text" class="form-control" id="validationDefault05" placeholder="Images"
			      th:field="*{includedYear}"></input>
			    </div>
			  </div>
			  <button class="btn btn-primary" type="submit">Add Item(s)</button>
			</form>
			
			<!-- <h3>Add a new </h3>
			<form action="#" th:action="@{/addProduct}" th:object="${product}" method="post">
			 	<table class="table table-bordered">
			 		<tr>
			 			<td>Product Code* (min 1, max 2 char.):</td>
			            <td><input type="text" th:field="*{productCd}" /></td>
			            <td th:if="${#fields.hasErrors('productCd')}" th:errors="*{productCd}" class="errorColorDescription">Error with product Code</td>
			         </tr>
			         <tr>
			             <td>Product Name* (min 1, max 45 char.):</td>
			             <td><input type="text" th:field="*{productName}" /></td>
			             <td th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="errorColorDescription">Error with product name</td>
			         </tr>
			         <tr>
			             <td>Short Description* (min 1, max 45 chars.):</td>
			             <td><input type="text" th:field="*{productShortDesc}" /></td>
			             <td th:if="${#fields.hasErrors('productShortDesc')}" th:errors="*{productShortDesc}" class="errorColorDescription">Error with Short Description</td>
			         </tr>
			         <tr>
			             <td>Long Description* (min 1, max 60 char):</td>
			             <td><input type="text" th:field="*{productLongDesc}" /></td>
			             <td th:if="${#fields.hasErrors('productLongDesc')}" th:errors="*{productLongDesc}" class="errorColorDescription">Error with Long Description</td>
			          </tr>
			     </table>
			     <button type="submit" class="btn btn-primary">Submit</button>
		    </form> -->
        </div>
		<div class="footer" th:include="fragments/footer :: site-footer"></div>
	</body>
</html>