<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 <head>	<meta charset="utf-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
 		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
 </head>
  <body>
    <div th:fragment="site-footer">
      &copy; 2017 D&amp;K Clothing Co.
    </div>
  </body>
</html>

