<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

 <head>
	<meta charset="utf-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>		
	<title>Edge Garments</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"></link>
	<link rel="stylesheet" th:href="@{/css/style.css}"></link>
 </head>

  <body>
  	<div th:insert="header :: header"></div>
  	<h2>Welcome to our Edge store!</h2>
    <p>Find below links to important resources</p>
  	<a th:href="@{/inventory}">Inventory</a>
  	<div class="footer" th:include="footer :: site-footer"></div>
  </body>

</html>