<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>		
		<title>Inventory Section</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"></link>
		<link rel="stylesheet" th:href="@{/css/style.css}"></link>
	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<h2>Select the following to modify</h2>
		<a th:href="@{/}">Home</a><br/>
		<a th:href="@{/getProductColor/nm}">Add Product Color</a><br/>
		<a th:href="@{/getProduct/nm}">Add/Update a Product</a><br/>
		<div class="footer" th:include="fragments/footer :: site-footer"></div>
		<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
  		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  		<!-- <script type="text/javascript" th:src="@{/js/script.js}"></script> -->
	</body>
</html>