<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"></meta>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>	
		<title>Undeveloped Product</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"></link>
		<link rel="stylesheet" th:href="@{/css/style.css}"></link>
	</head>
	<body>
		<div th:include="header :: header"></div>
		<a th:href="@{/getProduct/nm}">Back</a><br></br>
		<h2>Screens have not yet been developed for the following product</h2>
		<div><p th:text="${product.productName}">Product Name</p></div>
		
		<div class="footer" th:include="footer :: site-footer"></div>
	</body>
</html>