body {
	font-size: 16px;
	color:green;
	background-color: #ffffff;
	font-family: arial,helvetica,sans-serif;
}

/**Header Nav -- The top Red stripe*/
#header-nav{
	background-color:#a40632;
  	border-radius:0;
  	border:0;	
}

.links-text-top-header { /** login and bag links*/
	font-size: 12pt;
	font-weight: bold;
	padding-right: 30px;
}

.links-social-media { /** Social media links*/
	padding-right: 20px;
}

.social-media-dimensions{
	width: 35px;
    height: 35px;
}

.form-inline a:hover, .form-inline a:focus{
    text-decoration: none;
}

.colorHeadline {
font-size: 12pt;
font-weight: bold;
}
.errorColorDescription {
font-size: 10pt;
color: #ff0000;
}
label {
font-weight: bold;
}
.successMsg {
background: #00ff80;
padding: 5px;
margin: 10px 0;
text-align: center;
}
.failureMsg {
background: #ff0000;
padding: 5px;
margin: 10px 0;
text-align: center;
}
.warningMsg {
background: #ff8000;
padding: 5px;
margin: 10px 0;
text-align: center;
}

.footer {
	background: #f8f9fa;
	padding: 5px;
	margin: 10px 0;
	color:#000000;
}
