body {
font-size: 16px;
background-color: #ffffff;
font-family: arial,helvetica,sans-serif;
}

/**Header Nav*/
#header-nav{
  background-color:#00f200;
  border-radius:0;
  border:0;	
}

/**Logo properties*/
#logo-image{
	background:url('../images/DKLogo_bg_1.png') no-repeat;
	width:180px;
	height:95px;
	margin:10px 15px 10px 0;		
}

.colorHeadline {
font-size: 12pt;
font-weight: bold;
}
.errorColorDescription {
font-size: 10pt;
color: #ff0000;
}
label {
font-weight: bold;
}
.successMsg {
background: #00ff80;
padding: 5px;
margin: 10px 0;
text-align: center;
}
.failureMsg {
background: #ff0000;
padding: 5px;
margin: 10px 0;
text-align: center;
}
.warningMsg {
background: #ff8000;
padding: 5px;
margin: 10px 0;
text-align: center;
}
.footer {
background: #00592d;
padding: 5px;
margin: 10px 0;
color:#ffffff;
text-align: center;
}